
<form method="POST" action='/grocery-bags/create_grocery_list'>
  <label>Grocery List Name:</label>
  <input type='text' name='grocery_name'>
  <br>
  <input type='submit' value="Create Grocery List">
</form>
