<h1>Grocery List Tracker</h1>
<form method='POST' action='/login'>
  <label>Username: </label>
  <input type='text' name='username'>
  <br>
  <label>Password: </label>
  <input type='text' name='password'>
  <br>
  <input type='submit' value="Login">
</form>
<a href="/signup">Sign up</a>

<% if flash.has?(:notice) %>
  <h2><%= flash[:notice] %></h2>
<% end %>
