<h1> Grocery List </h1>
<p>This CRUD app is made to help you keep track of your groceries list. Please login or sign up to continue</p>
<button><a href='/login'> Login </a></button>
<button><a href='/signup'> Sign Up </a></button
