<html>
<head>
  <title>Grocery List</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type='text/css' href="/css/style.css">
</head>
<body>
  <%if logged_in?%>
    <div class="topnav">
      <a class="active" href="/home">Home</a>
      <a href="/grocery-lists">Grocery Lists</a>
      <a href="/items">Items</a>
    </div>

    <div id="logout">
      <form method='POST' action='/logout'>
        <input type='submit' value="Logout">
      </form>
    </div>
  <%end%>
<% if flash.has?(:notice) %>
  <h2><%= flash[:notice] %></h2>
<% end %>
  <%=yield%>

</body>
</html>
