<html>
<head>
  <title>Grocery List</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type='text/css' href="/css/style.css">
</head>
<body>
  <div class="topnav">
  <%if logged_in?%>
    <a class="active" href="/<%=current_user.slug%>/home">Home</a>
    <a href="/<%=current_user.slug%>/grocery-lists">Grocery Lists</a>
    <a href="/<%=current_user.slug%>/items">Items</a>
    <a href="/logout">Logout</a>
  <%end%>
</div>
  <%=yield%>
</body>
</html>
